/*
* Product count and Order select list
*/
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	float: initial;
}

.woocommerce .woocommerce-ordering {
	margin-bottom: calc(2 * var(--wp--custom--vertical-spacing));
}


/* Product search restults and archive pages */
.woocommerce ul.products {
	flex-wrap: wrap;
	text-align: center;
}

.woocommerce-page ul.products li.product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	margin-bottom: var(--wp--preset--spacing--40);
	margin-top: var(--wp--preset--spacing--40);

	.woocommerce-loop-product__title {
		font-size: var(--wp--preset--font-size--small);
		font-weight: 600;
		padding: 0;
	}

	.button {
		margin: auto auto 0 auto;
	}

	.star-rating {
		margin: calc(0.5 * var(--wp--custom--vertical-spacing)) auto;
	}
}

/* Product search pagination */
.woocommerce nav.woocommerce-pagination ul {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
	border-right: none;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: var(--wp--preset--color--contrast);
}

.woocommerce nav.woocommerce-pagination ul li span.current {
	font-weight: 700;
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span:hover,
.woocommerce nav.woocommerce-pagination ul li span.current:hover {
	background: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--contrast);
	filter: brightness(94%) !important;
}

.woocommerce ul.products-block-post-template {
	padding-inline: 0;
}