/*--------------------------------------------------------------
# Generic styling
--------------------------------------------------------------*/
@import "generic";

/*--------------------------------------------------------------
# Catalog pages
--------------------------------------------------------------*/
@import "catalog-pages";

/*--------------------------------------------------------------
# Single product
--------------------------------------------------------------*/
@import "single-product";

/*--------------------------------------------------------------
# Mini cart
--------------------------------------------------------------*/
@import "mini-cart";

/*--------------------------------------------------------------
# Cart
--------------------------------------------------------------*/
@import "cart";

/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/
@import "checkout";

/*--------------------------------------------------------------
# Thankyou
--------------------------------------------------------------*/
@import "thankyou";