/* Button styles */
.is-style-wonder-button-style-1 .wp-block-button__link,
.is-style-wonder-button-style-1 .wp-block-button__link:hover,
.is-style-wonder-button-style-1 .wp-block-button__link:focus,
.is-style-wonder-button-style-1 .wp-block-button__link:visited {
    background: var(--wp--preset--gradient--v-tertiary-primary);
}
.is-style-outline .wp-block-button__link,
.is-style-outline .wp-block-button__link:hover,
.is-style-outline .wp-block-button__link:focus,
.is-style-outline .wp-block-button__link:visited {
    border-width: 2px;
}
.is-style-outline .wp-block-button__link:hover {
    background: var(--wp--preset--color--background);
}

/* Image creative style */
figure[class*="is-style-wonder-image-creative"] {
    position: relative;

    img {
        position: relative
    }

    &:before {
        content: '';
        display: block;
        background: var(--wp--preset--color--primary);
        position: absolute;
        height: 60%;
        width: 20%;
        top: auto;
        left: auto;
        bottom: -20px;
        right: -20px;
        border-radius: 0;
        box-shadow: none;
    }
}
figure.is-style-wonder-image-creative-alt:before,
figure.is-style-wonder-image-creative-2:before{
    right: auto;
    left: -20px;
}

/* Quote wonder-quote-with-icon */
blockquote.is-style-wonder-quote-with-icon {
    border: none;
    padding: 0;

    p:first-child::before {
        content: '“';
        font-size: 3em;
        line-height: 1em;
        color: var(--wp--preset--color--primary);
        font-family: Georgia, serif;
        font-weight: bold;
        display: block;
    }

    p:first-child {
        margin-top: 0;
    }
}