/* MINICART FIX */
.wc-block-mini-cart__button {
  font-family: inherit;
}

/* SINGLE POST OVERLAP LAYOUT */
.wp-block-post-featured-image + .wp-block-group .vertical-overlap {
  margin-top: var(--wp--custom--single-post-feature-image-orverlap-vertical-margin);
  position: relative;
  z-index: 10;
}

/* STICKY POSTS FIX */
.wp-block-post.sticky {
  width: 100% !important;
}

.wp-block-post.has-post-thumbnail.sticky .wp-block-cover {
  padding-top: 30% !important;
}

.wp-block-post-excerpt__more-text {
  font-size: var(--wp--preset--font-size--x-small);
  font-weight: 600;
}

/* STYLE POSTS WITHOUT FEATURED IMAGE */
.wp-block-post-template.is-flex-container li.wp-block-post:not(.has-post-thumbnail) .wp-block-cover,
.wp-block-query-loop.is-flex-container li.wp-block-post:not(.has-post-thumbnail) .wp-block-cover {
  padding-top: 0 !important;
}

/* RESPONSIVE STYLE POSTS WITHOUT FEATURED IMAGE */
@media (max-width: 480px) {
  .wp-block-post-template.is-flex-container li.wp-block-post:not(.has-post-thumbnail) .wp-block-cover,
  .wp-block-query-loop.is-flex-container li.wp-block-post:not(.has-post-thumbnail) .wp-block-cover {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
  }
  body.single-post main > .wp-block-group,
  body.single-post main > .wp-block-group .vertical-overlap {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .wp-block-post-featured-image + .wp-block-group {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .wp-block-post-featured-image + .wp-block-group .vertical-overlap {
    margin-top: 0;
  }
}
/* REMOVE MAIN UPPER BLOCK SPACING */
header.wp-block-template-part + main {
  margin-block-start: 0;
}

/* POST QUERY LOOP */
@media (min-width: 1200px) {
  .wp-block-post-template.is-flex-container,
  .wp-block-query-loop.is-flex-container {
    gap: 120px;
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li,
  .wp-block-query-loop.is-flex-container.is-flex-container.columns-2 > li {
    width: calc(50% - 120px + 60px);
  }
}
/* INPUTS */
textarea,
select,
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.select2-container .select2-selection--single {
  background-color: var(--wp--preset--color--base);
  border: var(--wp--custom--input-border-width) solid;
  border-color: var(--wp--custom--input-border-color);
  font-family: var(--wp--preset--font-family--system);
  font-size: var(--wp--preset--font-size--small);
  line-height: 1.7;
  min-height: var(--wp--custom--input-min-height);
  min-width: 80px;
  padding: 0.3rem 1rem;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: var(--wp--custom--input-min-height);
}

textarea {
  padding: 1rem;
  width: 100%;
}

select {
  padding: 3px;
}

input[type=submit]:focus, input[type=submit]:hover,
button[type=submit]:focus,
button[type=submit]:hover,
.button:focus,
.button:hover,
.btn:focus,
.btn:hover {
  filter: brightness(94%) !important;
}

textarea,
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
  width: 100%;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 2px solid currentColor;
  border-radius: 0.15em;
  color: currentColor;
  cursor: pointer;
  font-size: inherit;
  height: 1em;
  line-height: 1;
  margin: 3px 10px 3px 0;
  position: relative !important;
  vertical-align: text-bottom;
  width: 1em;
}

input[type=checkbox]::before {
  background: var(--wp--preset--color--contrast);
  bottom: 3px;
  content: "";
  display: block;
  height: auto;
  left: 3px;
  margin: auto;
  position: absolute;
  right: 3px;
  top: 3px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

button:not(disabled) {
  cursor: pointer;
}

.wp-block-image figcaption,
.wp-block-video figcaption,
.wp-block-audio figcaption,
.wp-block-gallery figcaption,
.wp-block-table figcaption,
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  background: none;
  color: var(--wp--preset--color--contrast);
  font-weight: 600;
}

input.wpcf7-not-valid {
  border-color: #dc3232;
}

.wpcf7-not-valid-tip {
  font-size: 0.8em;
}

/* EDITOR CREATIVE CSS CLASSES */
@media (min-width: 1200px) {
  .negative-right-margin {
    margin-right: var(--wp--custom--colum-negative-horizontal-margin) !important;
    z-index: 1;
  }
  .negative-left-margin {
    margin-left: var(--wp--custom--colum-negative-horizontal-margin) !important;
    z-index: 1;
  }
}
.yith-wonder-my-account-login-icon img {
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
}
.yith-wonder-my-account-login-icon img:hover {
  opacity: 0.6;
}

/* ALIGNMENTS */
img.alignleft {
  display: inline;
  float: left;
  margin-right: 30px;
}
img.alignright {
  display: inline;
  float: right;
  margin-left: 30px;
}
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
