/* MINICART FIX */
.wc-block-mini-cart__button {
	font-family: inherit;
}

/* SINGLE POST OVERLAP LAYOUT */
.wp-block-post-featured-image + .wp-block-group .vertical-overlap {
    margin-top: -250px;
    z-index: 10;
    position: relative;
}

/* STICKY POSTS FIX */
.wp-block-post.sticky {
	width: 100% !important;
}

.wp-block-post.sticky .wp-block-cover {
	padding-top: 30% !important;
}
.wp-block-post-excerpt__more-text {
	font-size: var(--wp--preset--font-size--x-small);
	font-weight: 600;
}

/* BUTTONS */
.wp-block-button__link {
	transition: all ease 0.3s;
}
.wp-block-button__link:focus,
.wp-block-button__link:hover {
	filter: brightness(94%) !important;
}

