@charset "UTF-8";
/* Button styles */
.is-style-yith-wonder-button-style-1 .wp-block-button__link,
.is-style-yith-wonder-button-style-1 .wp-block-button__link:hover,
.is-style-yith-wonder-button-style-1 .wp-block-button__link:focus,
.is-style-yith-wonder-button-style-1 .wp-block-button__link:visited {
  background: var(--wp--preset--gradient--v-tertiary-primary);
}

.is-style-outline .wp-block-button__link,
.is-style-outline .wp-block-button__link:hover,
.is-style-outline .wp-block-button__link:focus,
.is-style-outline .wp-block-button__link:visited {
  border-width: 2px;
}

.is-style-outline .wp-block-button__link:hover {
  background: var(--wp--preset--color--base);
}

/* Image creative style */
figure[class*=is-style-yith-wonder-image-creative] {
  position: relative;
}
figure[class*=is-style-yith-wonder-image-creative] img {
  position: relative;
}
figure[class*=is-style-yith-wonder-image-creative]:before {
  background: var(--wp--preset--color--secondary);
  border-radius: 0;
  bottom: -20px;
  box-shadow: none;
  content: "";
  display: block;
  height: 60%;
  left: auto;
  position: absolute;
  right: -20px;
  top: auto;
  width: 20%;
}

figure.is-style-yith-wonder-image-creative-alt:before,
figure.is-style-yith-wonder-image-creative-2:before {
  left: -20px;
  right: auto;
}

/* Image with shadow style */
.is-style-yith-wonder-image-with-shadow img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Quote yith-wonder-quote-with-icon */
blockquote.is-style-yith-wonder-quote-with-icon {
  border: none;
  padding: 0;
}
blockquote.is-style-yith-wonder-quote-with-icon p:first-child::before {
  color: var(--wp--preset--color--secondary);
  content: "“";
  display: block;
  font-family: Georgia, serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}
blockquote.is-style-yith-wonder-quote-with-icon p:first-child {
  margin-top: 0;
}

/* WooCommerce Mini Cart without cart totale prior the icon */
.wc-block-mini-cart.is-style-yith-wonder-mini-cart-hidden-total .wc-block-mini-cart__amount {
  display: none;
}

/* Separator Left aligned style */
.wp-block-separator.is-style-yith-wonder-left-aligned-separator {
  margin-left: 0;
}

/* Separator Right aligned style */
.wp-block-separator.is-style-yith-wonder-right-aligned-separator {
  margin-right: 0;
}

/* Separator dashed wide style */
.wp-block-separator.is-style-yith-wonder-dashed-wide-separator {
  border-width: 0 0 2px !important;
  border-style: dashed !important;
  background: none !important;
  width: 100% !important;
}

/* Latest posts boxed style */
.wp-block-latest-posts.is-style-yith-wonder-latest-posts-boxed > li {
  padding: var(--wp--preset--spacing--30);
  background: var(--wp--preset--color--base);
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1.5rem;
  text-align: center;
}
.wp-block-latest-posts.is-style-yith-wonder-latest-posts-boxed > li img {
  border-radius: 0.75rem;
}
.wp-block-latest-posts.is-style-yith-wonder-latest-posts-boxed > li .wp-block-latest-posts__post-title {
  text-align: center;
  display: block !important;
  clear: both;
}
.wp-block-latest-posts.is-style-yith-wonder-latest-posts-boxed > li .wp-block-latest-posts__post-author {
  display: inline-block;
}
.wp-block-latest-posts.is-style-yith-wonder-latest-posts-boxed > li .wp-block-latest-posts__post-date {
  display: inline-block;
}

/* Group with shadow */
.is-style-yith-wonder-group-with-shadow {
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Cover block with unscaled background image */
.is-style-yith-wonder-cover-unscaled-background .wp-block-cover__image-background {
  -o-object-fit: contain;
     object-fit: contain;
}
