<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">
	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:post-featured-image {"align":"wide","style":{"color":{}}} /-->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"var:preset|spacing|80","bottom":"0px","left":"var:preset|spacing|80"}}}} -->
	<div class="wp-block-group" style="padding-top:0px;padding-right:var(--wp--preset--spacing--80);padding-bottom:0px;padding-left:var(--wp--preset--spacing--80)">
		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|80","bottom":"var:preset|spacing|50","left":"var:preset|spacing|80"}}},"backgroundColor":"base","className":"vertical-overlap","layout":{"inherit":true}} -->
		<div class="wp-block-group vertical-overlap has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--80)">
			<!-- wp:post-title {"level":1,"textAlign":"center","fontSize":"huge"} /-->
			<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10","margin":{"top":"0px"}}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center","flexWrap":"wrap","verticalAlignment":"center"}} -->
			<div class="wp-block-group" style="margin-top:0px">
				<!-- wp:paragraph {"fontSize":"x-small"} -->
				<p class="has-x-small-font-size">Posted by:</p>
				<!-- /wp:paragraph -->

				<!-- wp:post-author {"showAvatar":false,"fontSize":"x-small"} /-->

				<!-- wp:paragraph {"fontSize":"x-small"} -->
				<p class="has-x-small-font-size">|</p>
				<!-- /wp:paragraph -->
	
				<!-- wp:paragraph {"fontSize":"x-small"} -->
				<p class="has-x-small-font-size">On:</p>
				<!-- /wp:paragraph -->
	
				<!-- wp:post-date {"fontSize":"x-small"} /-->
	
				<!-- wp:paragraph {"fontSize":"x-small"} -->
				<p class="has-x-small-font-size">|</p>
				<!-- /wp:paragraph -->
	
				<!-- wp:post-terms {"term":"category","fontSize":"x-small"} /-->
	
				<!-- wp:post-terms {"term":"post_tag","fontSize":"x-small"} /-->
			</div>
			<!-- /wp:group -->
	
			<!-- wp:spacer {"height":"20px"} -->
			<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
	
			<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->
	
			<!-- wp:spacer {"height":"50px"} -->
			<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
	
			<!-- wp:post-comments /-->
	
			<!-- wp:spacer {"height":"40px"} -->
			<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
